<% content_for :head do %>
     <%= javascript_include_tag 'admin/admin' %>
     <%= javascript_include_tag 'prototype' %>
     <%= javascript_include_tag 'scriptaculous' %>
<%end%>
<div class = "possible_matches">
	<div class = "validation-error"></div>
	<h2>Possible Matches</h2> | 
	<span class="subtle">
		<%= link_to "Edit", possible_matches_edit_admin_gor_clothing_path(@gor_clothing), remote: true, id: 'edit_possible_matches' %>
	</span>
	<span id= 'Finish'></span>
	<% for suggested_piece in @gor_clothing.suggested_pieces %>
	<div class = "possible_match">
		<span id="possible_match_<%= suggested_piece.id %>">
			<a 'href=?', suggested_piece_id>
				<%= image_tag suggested_piece.image.picture.url %>
			</a>
		</span>
	</div>
	<%end%>
</div>
