<span ng-switch = 'suggested_piece.id'>
	<% for suggested_piece in @suggested_pieces %>
	<span ng-switch-when = '{{suggested_piece.id}}'>
	<li id = 'suggested_piece_<%= suggested_piece.id%>'>
	<%= link_to(content_tag(:a, '', remote: true, controller: PossibleMatches, action: "show", id: @visible_gor_clothing.suggested_piece_id, onclick = "return false;"), image_tag(ng-src = "{{suggested_piece.image}}"), controller: Gor_Clothing, action: "detail", id: suggested_piece.id %>
		<details ng-bind-html = 'renderHtml(suggested_piece.price)' class = 'piece_price'></details>
		<details ng-bind-html = 'renderHtml(suggested_piece.description)' class = 'piece_description'></details>
	</li>
	</span>
	<%end%>
</span>
<span ng-switch = 'top.id'>
	<% for gor_clothing in @possible_match_extra_tops %>
	<span ng-if = 'tops.filter(function(top){return top !== suggested_tops})' ng-switch-when = '{{top.id}}'>
	<li id='gor_clothing_<%= gor_clothing.id%>'>
		<%= link_to image_tag(ng-src = "{{top.image}}"), controller: Gor_Clothing, action: "detail", id: gor_clothing.id%>
		<details ng-bind-html = 'renderHtml(top.price)' class = 'piece_price'></details>
		<details ng-bind-html = 'renderHtml(top.description)' class = 'piece_description'></details>
	</li>
	</span>
	<%end%>
</span>
<span ng-switch = 'bottom.id'>
	<% for gor_clothing in @possible_match_extra_bottoms %>
	<span ng-if = 'bottoms.filter(function(bottom){return bottom !== suggested_bottoms})' ng-switch-when = '{{bottom.id}}'>
	<li id='gor_clothing_<%= gor_clothing.id%>'>
		<%= link_to image_tag(ng-src = "{{bottom.image}}"), controller: Gor_Clothing, action: "detail", id: gor_clothing.id%>
		<details ng-bind-html = 'renderHtml(bottom.price)' class = 'piece_price'></details>
		<details ng-bind-html = 'renderHtml(bottom.description)' class = 'piece_description'></details>
	</li>
	</span>
	<%end%>
</span>