<span id = "possible_matches" ng-controller = 'PossibleMatches'>
	<%= render partial: 'wardrobes/_update_wardrobe', locals: {possible_matches: @visible_gor_clothing}%>
	<span class = 'possible_pieces_for_suggested_bottom' ng-if = 'suggested_piece.merch_type == bottom && suggested_piece.standalone !== true'>
		<span class = "possible_pieces_suggested" ng-switch = 'suggested_piece.id'>		
			<%= render partial: '_possible_pieces_suggested_bottom', locals: {possible_matches: @possible_match_extra_bottoms}%>
		</span>
	</span>
	<span class = 'possible_pieces_for_suggested_top' ng-if = "suggested_piece.merch_type == top && suggested_piece.standalone !== true">
		<span class = "possible_pieces_suggested">
			<%= render partial: '_possible_pieces_suggested_top', locals: {possible_matches: @possible_match_extra_tops}%>
		</span>
	</span>
	<span class = 'possible_pieces_for_standalone_top' ng-if = "tops.standalone == true">
		<span class = 'possible_pieces_standalone'>
			<%= render partial: '_possible_pieces_standalone_top', locals: {possible_matches: @gor_clothing_standalone_tops} %>
		</span>
	</span>
	<span class = 'possible_pieces_for_standalone_bottom' ng-if = "bottoms.standalone == true">
		<span class = 'possible_pieces_standalone'>
			<%= render partial: '_possible_pieces_standalone_bottoms', locals: {possible_matches: @gor_clothing_standalone_bottoms}%>
		</span>
	</span>
</span>