<% provide(:title, "Edit Merch") %>
<h1>Update Merch</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@GorClothing) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :image %>
      <%= f.file_field :image, class: 'form-control' %>
      
      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>
      
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :quantity %>
      <%= f.text_field :quantity, class: 'form-control' %>

      <%= f.label :size, "Confirmation" %>
      <%= f.select :sizes, ['XS','S', 'M', 'L'. 'XL'], class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>