<%= content_for(:event_tickets) do %>
<span class = 'event_container'>
	<% @ImmEvents.each do |event| %>
		<li class = 'specific_event_<%= event.id %>'>
			<% event.performers.each do |performer| %>
				<span class = 'performer_name'><%= link_to '<%= performer.name %>', remote: true, artist_events_path(<%= performer.name %>)%></span>
			<%end%>
			<span class = 'event_happening'><%= event.happening %></span>
			<span class = 'event_venue'><%= event.venue %></span>
		</li>
	<%end%>
</span>
<%end%>