<% content_for :head do %>
     <%= javascript_include_tag '/admin/admin' %>
     <%= javascript_include_tag 'prototype' %>
     <%= javascript_include_tag 'scriptaculous' %>
<%end%>
<div class = "images">
	<div class = "validation-error"></div>
	<span id="gor_clothing_<%=gor_clothing.id%>_show_picture">
		<% image_tag @gor_clothing.images.picture.show_picture if image.picture.show_picture? %>
	</span>
	<% for image in @gor_clothing.images unless @gor_clothing.images.type_of_image == "show_picture" %>
	<span class = "collateral_images">
		<span id = "images_<%= image.type_of_image %>">
			<%= image_tag image.picture.url if image.picture? %>
		</span>
	</span>
	<%end%>
	<span class = "image_update">
		<span class = 'finish_image_update'></span>
		<%= link_to 'Edit', edit_some_admin_images_path(@gor_clothing), remote: true, data: {type: :js}, id: 'edit_some_images' %> |
		<%= link_to 'Add New', new_admin_image_path, remote: true, data: {type: :js}, id: 'new_admin_piece' %>
	</span>
</div>
 