<% content_for :main do %>
	<div class = 'main'>
		<header>
			<nav class="main-nav">
				<ul>
					<li><%= link_to 'Sign In', class: "cd-signin", login_path %></li>
					<li><%= link_to 'Sign Up', class: "cd-signup", new_user_path %></li>
				</ul>
			</nav>
		</header>
		<section class = 'Intro'>,
		</section>
		<section class = "Songs">
		</section>
		<section class = "<%= if content_for?(:wardrobe) && content_for?(:possible_matches) return 'two_column' else render status: 503 %>">
		<%= yield(:wardrobe) %> <!-- add 'shared/_error_messages' -->
		<%= yield(:possible_matches) %> <!-- add 'shared/_error_messages' -->
		</section>
		<section class = "FunTimes">
		<!-- add 'shared/_error_messages' -->
		<%= yield(:event_tickets) %>
		</section>
	</div>
<%end%>
<%= render template: "layouts/application" %>
