<% content_for :main do %>
	<div class = 'main'>
		<header>
			<nav class="main-nav">
				<ul>
					<li><%= link_to 'Sign In', login_path, class: "cd-signin" %></li>
					<li><%= link_to 'Sign Up', new_user_path, class: "cd-signup" %></li>
				</ul>
			</nav>
		</header>
		<section class = 'Intro'>,
		</section>
		<section class = "Songs">
		</section>
		<section class = "<% if <%= content_for?(:wardrobe) && content_for?(:possible_matches) return 'two_column' %> else render status: 503 %>">
		<%= yield(:wardrobe) %>
		<%= yield(:possible_matches) %>
		</section>
		<section class = "FunTimes">
		<%= yield(:event_tickets) %>
		</section>
	</div>
<%end%>
<%= render template: "layouts/application" %>
